# Import libraries

In [219]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sms
import warnings

warnings.simplefilter(action='ignore')
%matplotlib inline

# Uploading datasets

In [118]:
df_bonds = pd.read_csv('data-sets/rates.csv', encoding='windows-1251', skiprows=2, sep=';')
df_bonds

,SECID,SHORTNAME,NAME,TYPENAME,ISIN,REGNUMBER,LISTLEVEL,FACEUNIT,ISSUESIZE,IS_EXTERNAL,...,RTL3,RTH3,DISCOUNT1,LIMIT1,DISCOUNT2,LIMIT2,DISCOUNT3,DISCOUNTL0,DISCOUNTH0,FULLCOVERED
0,AMUNIBB2AER2,UBANK11/22,UNIBANK OJSC Series 1,Корпоративные еврооблигации,AMUNIBB2AER2,NaN,3,USD,10000.0,1.0,...,NaN,NaN,"100,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AMUNIBB2DER6,UBANK02/24,UNIBANK OJSC Series 1 21,Корпоративные еврооблигации,AMUNIBB2DER6,NaN,3,USD,33478.0,1.0,...,"0,0","19257,86","100,0",NaN,NaN,NaN,NaN,"100,00000","100,00000",1.0
2,AT0000A2UF10,Raiff BIAG,Raiffeisen Bank Int AG,Корпоративные еврооблигации,AT0000A2UF10,NaN,3,USD,50000.0,1.0,...,"0,0","157191,06","100,0",NaN,NaN,NaN,NaN,"100,00000","100,00000",1.0
3,CH0141533403,VTB-15 CHF,VTB CAPITAL S.A. 15 CHF,NaN,CH0141533403,NaN,NaN,CHF,60000.0,NaN,...,NaN,NaN,"100,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CH0205819433,RZD-18 CHF,RZD Capital PLC 18 CHF,Еврооблигации МинФина,CH0205819433,NaN,NaN,CHF,105000.0,1.0,...,NaN,NaN,"100,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10320,XS2420560869,BCS01/25,BCS SP Plc Series 239,Корпоративные еврооблигации,XS2420560869,NaN,3,RUB,700.0,1.0,...,"0,0","175780,0","100,0",NaN,NaN,NaN,NaN,"100,00000","100,00000",1.0
10321,XS2423361190,BCS02/27-4,BCS SP Plc Series 240,Корпоративные еврооблигации,XS2423361190,NaN,3,USD,8000.0,1.0,...,"0,0","235358,64","100,0",NaN,NaN,NaN,NaN,"100,00000","100,00000",1.0
10322,XS2429208486,BCS05/25,BCS SP Plc Series 243,Корпоративные еврооблигации,XS2429208486,NaN,3,USD,8000.0,1.0,...,"0,0","234747,26","100,0",NaN,NaN,NaN,NaN,"100,00000","100,00000",1.0
10323,XS2439218640,BCS06/25-B,BCS SP Plc Series 244,Корпоративные еврооблигации,XS2439218640,NaN,3,USD,8000.0,1.0,...,"0,0","220803,04","100,0",NaN,NaN,NaN,NaN,"100,00000","100,00000",1.0
10324,XS2446844321,BCS06/25-C,BCS SP Plc Series 245,Корпоративные еврооблигации,XS2446844321,NaN,3,EUR,5000.0,1.0,...,"0,0","198371,72","100,0",NaN,NaN,NaN,NaN,"100,00000","100,00000",1.0

In [187]:
df_indicators = pd.read_csv('data-sets/Global Economy Indicators.csv')
df_indicators

,CountryID,Country,Year,AMA exchange rate,IMF based exchange rate,Population,Currency,Per capita GNI,"Agriculture, hunting, forestry, fishing (ISIC A-B)",Changes in inventories,...,Household consumption expenditure (including Non-profit institutions serving households),Imports of goods and services,Manufacturing (ISIC D),"Mining, Manufacturing, Utilities (ISIC C-E)",Other Activities (ISIC J-P),Total Value Added,"Transport, storage and communication (ISIC I)","Wholesale, retail trade, restaurants and hotels (ISIC G-H)",Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,1.952772e+08,3.701468e+08,3.766908e+08,1.277478e+08,1.731454e+09,8.391720e+07,2.263871e+08,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,2.762965e+08,3.875495e+08,3.944012e+08,1.337541e+08,1.812857e+09,8.786038e+07,2.370192e+08,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,2.903704e+08,3.522847e+08,3.585129e+08,1.215827e+08,1.647918e+09,7.986452e+07,2.154773e+08,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,2.629629e+08,3.640103e+08,3.704458e+08,1.256302e+08,1.702735e+09,8.252888e+07,2.226243e+08,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,3.056792e+08,4.407604e+08,4.485528e+08,1.521192e+08,2.061752e+09,9.991860e+07,2.695259e+08,2.106420e+09,2.061729e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10507,894,Zambia,2017,9.519501,9.519501,17298054,Kwacha,1448,1.041005e+09,567729313.0,...,1.215309e+10,9.465895e+09,2.102369e+09,7.194153e+09,6.187124e+09,2.416662e+10,1.965026e+09,5.323590e+09,2.505604e+10,2.586816e+10
10508,894,Zambia,2018,10.458143,10.458143,17835893,Kwacha,1451,8.791160e+08,929063411.0,...,1.183200e+10,9.717269e+09,1.801783e+09,6.556884e+09,5.791375e+09,2.422570e+10,2.490720e+09,5.990720e+09,2.588455e+10,2.631198e+10
10509,894,Zambia,2019,12.889418,12.889418,18380477,Kwacha,1246,6.668385e+08,817104395.0,...,9.848112e+09,7.961415e+09,1.582484e+09,5.584425e+09,5.231062e+09,2.153971e+10,2.537646e+09,4.959277e+09,2.291011e+10,2.331036e+10
10510,894,Zambia,2020,18.344093,18.344093,18927715,Kwacha,928,5.391694e+08,439295787.0,...,6.969267e+09,5.892353e+09,1.397303e+09,4.269405e+09,4.217431e+09,1.718020e+10,2.258715e+09,3.234123e+09,1.756233e+10,1.811064e+10
10511,894,Zambia,2021,20.018487,20.018487,19473125,Kwacha,1062,6.285287e+08,293485060.0,...,8.423339e+09,7.735235e+09,1.876458e+09,6.639510e+09,4.250492e+09,2.071254e+10,2.060541e+09,3.881353e+09,2.067962e+10,2.131337e+10

# Preparing data for analysis

## Selecting the necessary columns

In [120]:
df_bonds = df_bonds[['SECID', 'SHORTNAME', 'NAME', 'TYPENAME', 'LISTLEVEL', 'FACEUNIT', 'ISSUESIZE', 'IS_EXTERNAL', 'ISSUEDATE', 'MATDATE', 'INITIALFACEVALUE']]
df_bonds

,SECID,SHORTNAME,NAME,TYPENAME,LISTLEVEL,FACEUNIT,ISSUESIZE,IS_EXTERNAL,ISSUEDATE,MATDATE,INITIALFACEVALUE
0,AMUNIBB2AER2,UBANK11/22,UNIBANK OJSC Series 1,Корпоративные еврооблигации,3,USD,10000.0,1.0,15.11.2019,15.11.2022,"100,0"
1,AMUNIBB2DER6,UBANK02/24,UNIBANK OJSC Series 1 21,Корпоративные еврооблигации,3,USD,33478.0,1.0,05.02.2021,05.02.2024,"100,0"
2,AT0000A2UF10,Raiff BIAG,Raiffeisen Bank Int AG,Корпоративные еврооблигации,3,USD,50000.0,1.0,21.12.2021,21.01.2025,"1000,0"
3,CH0141533403,VTB-15 CHF,VTB CAPITAL S.A. 15 CHF,NaN,NaN,CHF,60000.0,NaN,17.11.2014,17.11.2015,"5000,0"
4,CH0205819433,RZD-18 CHF,RZD Capital PLC 18 CHF,Еврооблигации МинФина,NaN,CHF,105000.0,1.0,26.02.2015,26.02.2018,"5000,0"
...,...,...,...,...,...,...,...,...,...,...,...
10320,XS2420560869,BCS01/25,BCS SP Plc Series 239,Корпоративные еврооблигации,3,RUB,700.0,1.0,15.12.2021,15.01.2025,"100000,0"
10321,XS2423361190,BCS02/27-4,BCS SP Plc Series 240,Корпоративные еврооблигации,3,USD,8000.0,1.0,27.01.2022,28.02.2027,"1250,0"
10322,XS2429208486,BCS05/25,BCS SP Plc Series 243,Корпоративные еврооблигации,3,USD,8000.0,1.0,13.01.2022,15.05.2025,"1250,0"
10323,XS2439218640,BCS06/25-B,BCS SP Plc Series 244,Корпоративные еврооблигации,3,USD,8000.0,1.0,28.01.2022,02.06.2025,"1250,0"
10324,XS2446844321,BCS06/25-C,BCS SP Plc Series 245,Корпоративные еврооблигации,3,EUR,5000.0,1.0,22.02.2022,18.06.2025,"1000,0"

In [190]:
df_indicators.columns = df_indicators.columns.str.strip()
df_indicators = df_indicators[['CountryID', 'Country', 'Year', 'Per capita GNI', 'General government final consumption expenditure', 'Gross capital formation', 'Gross National Income(GNI) in USD', 'Gross Domestic Product (GDP)']]
df_indicators

,CountryID,Country,Year,Per capita GNI,General government final consumption expenditure,Gross capital formation,Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,4,Afghanistan,1970,164,1.121270e+08,9.461182e+07,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,168,1.211148e+08,9.901235e+07,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,149,1.083475e+08,1.034568e+08,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,150,1.090135e+08,1.217284e+08,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,177,1.285890e+08,1.750619e+08,2.106420e+09,2.061729e+09
...,...,...,...,...,...,...,...,...
10507,894,Zambia,2017,1448,3.549314e+09,1.060675e+10,2.505604e+10,2.586816e+10
10508,894,Zambia,2018,1451,3.343899e+09,1.016724e+10,2.588455e+10,2.631198e+10
10509,894,Zambia,2019,1246,4.122149e+09,9.151849e+09,2.291011e+10,2.331036e+10
10510,894,Zambia,2020,928,2.664373e+09,5.848494e+09,1.756233e+10,1.811064e+10
10511,894,Zambia,2021,1062,3.021303e+09,6.102614e+09,2.067962e+10,2.131337e+10

## Renaming the columns

In [122]:
df_bonds = df_bonds.rename(columns={'SECID': 'secid', 'SHORTNAME': 'short_name', 'NAME': 'full_name', 'TYPENAME': 'type', 'LISTLEVEL': 'list_lvl', 'FACEUNIT': 'currency', 'ISSUESIZE': 'issue_size', 'IS_EXTERNAL': 'is_external', 'MATDATE': 'mat_date', 'ISSUEDATE': 'issue_date', 'INITIALFACEVALUE': 'nominal_value'})
df_bonds

,secid,short_name,full_name,type,list_lvl,currency,issue_size,is_external,issue_date,mat_date,nominal_value
0,AMUNIBB2AER2,UBANK11/22,UNIBANK OJSC Series 1,Корпоративные еврооблигации,3,USD,10000.0,1.0,15.11.2019,15.11.2022,"100,0"
1,AMUNIBB2DER6,UBANK02/24,UNIBANK OJSC Series 1 21,Корпоративные еврооблигации,3,USD,33478.0,1.0,05.02.2021,05.02.2024,"100,0"
2,AT0000A2UF10,Raiff BIAG,Raiffeisen Bank Int AG,Корпоративные еврооблигации,3,USD,50000.0,1.0,21.12.2021,21.01.2025,"1000,0"
3,CH0141533403,VTB-15 CHF,VTB CAPITAL S.A. 15 CHF,NaN,NaN,CHF,60000.0,NaN,17.11.2014,17.11.2015,"5000,0"
4,CH0205819433,RZD-18 CHF,RZD Capital PLC 18 CHF,Еврооблигации МинФина,NaN,CHF,105000.0,1.0,26.02.2015,26.02.2018,"5000,0"
...,...,...,...,...,...,...,...,...,...,...,...
10320,XS2420560869,BCS01/25,BCS SP Plc Series 239,Корпоративные еврооблигации,3,RUB,700.0,1.0,15.12.2021,15.01.2025,"100000,0"
10321,XS2423361190,BCS02/27-4,BCS SP Plc Series 240,Корпоративные еврооблигации,3,USD,8000.0,1.0,27.01.2022,28.02.2027,"1250,0"
10322,XS2429208486,BCS05/25,BCS SP Plc Series 243,Корпоративные еврооблигации,3,USD,8000.0,1.0,13.01.2022,15.05.2025,"1250,0"
10323,XS2439218640,BCS06/25-B,BCS SP Plc Series 244,Корпоративные еврооблигации,3,USD,8000.0,1.0,28.01.2022,02.06.2025,"1250,0"
10324,XS2446844321,BCS06/25-C,BCS SP Plc Series 245,Корпоративные еврооблигации,3,EUR,5000.0,1.0,22.02.2022,18.06.2025,"1000,0"

## Check the values for missing

In [123]:
df_bonds.isna().sum()

secid               0
short_name          0
full_name           0
type              387
list_lvl         1981
currency            0
issue_size        522
is_external      2340
issue_date        206
mat_date           62
nominal_value     499
dtype: int64

To fill in the missing values, we have to fix the values in nominal_value

In [124]:
df_bonds['nominal_value'] = df_bonds['nominal_value'].str.replace(',', '.')

For the type column, let's create an Unknown category. In the is_external, issue_size and nominal_value columns, fill the missing values with the median to save the distribution

In [125]:
df_bonds['type'] = df_bonds['type'].fillna('Unknown')
df_bonds['is_external'] = df_bonds['is_external'].fillna(df_bonds['is_external'].median())
df_bonds['issue_size'] = df_bonds['issue_size'].fillna(df_bonds['issue_size'].median())
df_bonds = df_bonds.dropna(subset=['issue_date'])
df_bonds = df_bonds.dropna(subset=['mat_date'])
df_bonds['nominal_value'] = df_bonds['nominal_value'].fillna(df_bonds['nominal_value'].median())

In the list_lvl column, for convenience, let's convert the values to the same format and fill the missing values with the median

In [126]:
df_bonds['list_lvl'].unique()

array(['3', nan, 'А1', 'Б', 'А2', '1', '2', 'None', 'В'], dtype=object)

In [127]:
df_bonds['list_lvl'] = df_bonds['list_lvl'].replace({'А1': '1', 'Б': '2', 'А2': '1', 'В': '2', 'None': np.nan})
df_bonds['list_lvl'] = df_bonds['list_lvl'].fillna(df_bonds['list_lvl'].median())

In [128]:
df_bonds.isna().sum()

secid            0
short_name       0
full_name        0
type             0
list_lvl         0
currency         0
issue_size       0
is_external      0
issue_date       0
mat_date         0
nominal_value    0
dtype: int64

In [191]:
df_indicators.isna().sum()

CountryID                                            0
Country                                              0
Year                                                 0
Per capita GNI                                       0
General government final consumption expenditure    52
Gross capital formation                             52
Gross National Income(GNI) in USD                    0
Gross Domestic Product (GDP)                         0
dtype: int64

We can see missing values. To begin with, let's select only Russia and the years we need

In [225]:
df_indicators['Country'] = df_indicators['Country'].str.strip()
df_indicators_russia = df_indicators[(df_indicators['Year'] >= 1990) & (df_indicators['Country'] == 'Russian Federation')]
df_indicators_russia.head()

,CountryID,Country,Year,Per capita GNI,General government final consumption expenditure,Gross capital formation,Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
7874,643,Russian Federation,1990,3870,1.140000e+11,1.840000e+11,5.730000e+11,5.740000e+11
7875,643,Russian Federation,1991,3789,8.918929e+10,2.170000e+11,5.630000e+11,5.640000e+11
7876,643,Russian Federation,1992,3241,6.546205e+10,1.810000e+11,4.820000e+11,4.930000e+11
7877,643,Russian Federation,1993,3040,7.660634e+10,1.320000e+11,4.530000e+11,4.610000e+11
7878,643,Russian Federation,1994,2730,8.810287e+10,1.110000e+11,4.060000e+11,4.110000e+11

In [226]:
df_indicators_russia.isna().sum()

CountryID                                           0
Country                                             0
Year                                                0
Per capita GNI                                      0
General government final consumption expenditure    0
Gross capital formation                             0
Gross National Income(GNI) in USD                   0
Gross Domestic Product (GDP)                        0
dtype: int64

Now there's no more missing values

## Check the data types

In [227]:
df_bonds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10057 entries, 0 to 10324
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   secid          10057 non-null  object
 1   short_name     10057 non-null  object
 2   full_name      10057 non-null  object
 3   type           10057 non-null  object
 4   list_lvl       10057 non-null  object
 5   currency       10057 non-null  object
 6   issue_size     10057 non-null  float64
 7   is_external    10057 non-null  float64
 8   issue_date     10057 non-null  object
 9   mat_date       10057 non-null  object
 10  nominal_value  10057 non-null  object
dtypes: float64(2), object(9)
memory usage: 942.8+ KB

As we can see, there are wrong data types in list_lvl, mat_date, issue_date, nominal_value columns. Let's fix this

In [232]:
df_bonds['list_lvl'] = df_bonds['list_lvl'].astype('int64')
df_bonds['mat_date'] = pd.to_datetime(df_bonds['mat_date'], format='%d.%m.%Y')
df_bonds['issue_date'] = pd.to_datetime(df_bonds['issue_date'], format='%d.%m.%Y')
df_bonds['nominal_value'] = df_bonds['nominal_value'].astype('float64')

In [234]:
df_bonds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10057 entries, 0 to 10324
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   secid          10057 non-null  object
 1   short_name     10057 non-null  object
 2   full_name      10057 non-null  object
 3   type           10057 non-null  object
 4   list_lvl       10057 non-null  int64
 5   currency       10057 non-null  object
 6   issue_size     10057 non-null  float64
 7   is_external    10057 non-null  float64
 8   issue_date     10057 non-null  datetime64[ns]
 9   mat_date       10057 non-null  datetime64[ns]
 10  nominal_value  10057 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(5)
memory usage: 942.8+ KB

It's done

In [235]:
df_indicators_russia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 7874 to 7905
Data columns (total 8 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   CountryID                                         32 non-null     int64
 1   Country                                           32 non-null     object
 2   Year                                              32 non-null     int64
 3   Per capita GNI                                    32 non-null     int64
 4   General government final consumption expenditure  32 non-null     float64
 5   Gross capital formation                           32 non-null     float64
 6   Gross National Income(GNI) in USD                 32 non-null     float64
 7   Gross Domestic Product (GDP)                      32 non-null     float64
dtypes: float64(4), int64(3), object(1)
memory usage: 2.2+ KB

It's all right here

# Analysis